{% extends "layout.html" %}
{% block content %}
<div style="height: 50px;"></div>
    <div class="container-fluid">
        <div class="main-screen">
            <div class="profile">
                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="Profile Picture">
                <h2>{{ current_user.username }}</h2>
            </div>
            <div class="total-value">
                <!-- <h1>${{ '{:.2f}'.format(total_account_value) }}</h1> -->
                <p class="{{ 'green' if percent_increase >= 0 else 'red' }}">
                    {{ '+' if percent_increase >= 0 else '-' }}${{ '{:.2f}'.format(percent_increase|abs) }}%
                </p>
            </div>
            <div class="stock-value">
                <h3>You have invested: ${{ '{:.2f}'.format(total_purchased_value) }}</h3>
            </div>
            <div class="balance">
                <h3>Your investments are now worth: ${{ '{:.2f}'.format(total_current_value) }}</h3>
            </div>
        </div>        
        <div class="row">
            <div class="scrollable-table">
                <div class="sticky-header">
                    <table>
                        <tr>
                            <th>Ticker</th>
                            <th>Number of Shares</th>
                            <th>Purchased Value</th>
                            <th>Current Value</th>
                            <th>+- $</th>
                            <th>+- %</th>
                        </tr>
                        {% for ticker, data in user_stocks.items() %}
                        <tr>
                            <td><a class="article-title" href="{{url_for('stock', ticker_name=ticker)}}">{{ ticker }}</a></td>
                            <td>{{ data.numShares }}</td>
                            <td>${{ '{:.2f}'.format( data.totalPurchasedValue )}}</td>
                            <td>${{ '{:.2f}'.format(data.currentValue )}}</td>
                            <td>
                                {% set value_change = data.currentValue - data.totalPurchasedValue %}
                                <span class="{{ 'green' if value_change >= 0 else 'red' }}">
                                    {{ '+' if value_change >= 0 else '-' }}${{ '{:.2f}'.format(value_change|abs) }}
                                </span>
                            </td>
                            <td>
                                {% set percent_change = (data.currentValue / data.totalPurchasedValue) * 100 - 100%}
                                <span class="{{ 'green' if percent_change >= 0 else 'red' }}">
                                    {{ '+' if percent_change >= 0 else '-' }}%{{ '{:.2f}'.format(percent_change|abs) }}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                </div>
            </div>
        </div>
        <div style="height: 50px;"></div>
        <div class="row">
            <div class="scrollable-table">
                <div class="sticky-header">
                    <table>
                        <tr>
                            <th>Type</th>
                            <th>Ticker</th>
                            <th>Number of Shares</th>
                            <th>Price</th>
                            <th>Date Posted</th>
                        </tr>
                        {% for transaction in userTransactions %}
                        <tr>
                            <td>{{ transaction.type }}</td>
                            <td><a class="article-title" href="{{url_for('stock', ticker_name=transaction.ticker)}}">{{ transaction.ticker }}</a></td>
                            <td>{{ transaction.numShares }}</td>
                            <td>${{ '{:.2f}'.format(transaction.price) }}</td>
                            <td>{{ transaction.date_posted }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div style="height: 50px;"></div>
        <form method="POST" action="" enctype="multipart/form-data">      <!-- Form Style, with Post Method, enc makes the error display readable and not crazy codes-->
            <fieldset class="form-group">           <!-- Bootstrap Style Container-->
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-4">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h2 style="padding-left: 20px;"><a class="article-title" href="{{url_for('stock', ticker_name=dt1)}}">{{ dt1 }}</a></h2> <!-- Increase left padding -->
                                            <h2 class="{% if dt1Change == 1 %}green{% else %}red{% endif %}" style="margin-left: 10px;">
                                                {{ dt1LastPrice }}<!-- Display the ticker name & Price -->
                                                {% if dt1Change == 1 %} 
                                                    <i class="fas fa-arrow-up" style="color:#2ecc71;"></i> 
                                                {% else %} 
                                                    <i class="fas fa-arrow-down" style="color:#e74c3c;"></i> 
                                                {% endif %}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1.5">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt1BuyModal">
                                            Buy
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt1BuyModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <div class="d-flex flex-column align-items-start">  
                                                        <h4 class="modal-title mb-2">Buy {{dt1}} at ${{dt1LastPrice}}</h4>
                                                        <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                        <h6>
                                                            Maximum Affordability = {{ (current_user.balance // dt1LastPrice)|round|int }} Shares
                                                        </h6>
                                                    </div>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ buy_forms['dt1'].hidden_tag() }}
                                                    {{ buy_forms['dt1'].ticker() }}
                                                    {{ buy_forms['dt1'].numShares.label }} {{ buy_forms['dt1'].numShares() }}
                                                    {{ buy_forms['dt1'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if dt1NumShares > 0 %}
                                        <div class="col-md-1.5">
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt1SellModal">
                                                Sell
                                            </button>
                                            
                                            <!-- The Modal -->
                                            <div class="modal" id="dt1SellModal">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <div class="d-flex flex-column align-items-start">  
                                                            <h4 class="modal-title mb-2">Sell {{dt1}} at ${{dt1LastPrice}}</h4>
                                                            <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                            <h6>
                                                                You Currently own: {{ dt1NumShares }} Shares
                                                            </h6>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                                    </div>
                                            
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                        <form method="POST">
                                                            {{ sell_forms['dt1'].hidden_tag() }}
                                                            {{ sell_forms['dt1'].csrf_token }}  <!-- include csrf token -->
                                                            {{ sell_forms['dt1'].sellTicker.label }} {{ sell_forms['dt1'].sellTicker() }}
                                                            {{ sell_forms['dt1'].sellNumShares.label }} {{ sell_forms['dt1'].sellNumShares() }}
                                                            {{ sell_forms['dt1'].sellSubmit() }}
                                                        </form>                                                        
                                                    </div>
                                            
                                                    <!-- Modal Footer -->
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-1.5"></div>
                                    <div class="col-md-1">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt1UpdateModal">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt1UpdateModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Update Dashboard</h4>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ update_forms['dt1'].hidden_tag() }}
                                                    {{ update_forms['dt1'].tickerToUpdate.label }} {{ update_forms['dt1'].tickerToUpdate() }}
                                                    {{ update_forms['dt1'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                <div id="spinner1" style="display: none;">
                                    <div class="loader"></div>
                                </div>
                                <div id="chart1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h2 style="padding-left: 20px;"><a class="article-title" href="{{url_for('stock', ticker_name=dt2)}}">{{ dt2 }}</a></h2> <!-- Increase left padding -->
                                            <h2 class="{% if dt2Change == 1 %}green{% else %}red{% endif %}" style="margin-left: 10px;">
                                                {{ dt2LastPrice }}
                                                {% if dt2Change == 1 %} 
                                                    <i class="fas fa-arrow-up" style="color:#2ecc71;"></i> 
                                                {% else %} 
                                                    <i class="fas fa-arrow-down" style="color:#e74c3c;"></i> 
                                                {% endif %}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1.5">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt2BuyModal">
                                            Buy
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt2BuyModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <div class="d-flex flex-column align-items-start">  
                                                        <h4 class="modal-title mb-2">Buy {{dt2}} at ${{dt2LastPrice}}</h4>
                                                        <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                        <h6>
                                                            Maximum Affordability = {{ (current_user.balance // dt2LastPrice)|round|int }} Shares
                                                        </h6>
                                                    </div>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ buy_forms['dt2'].hidden_tag() }}
                                                    {{ buy_forms['dt2'].ticker() }}
                                                    {{ buy_forms['dt2'].numShares.label }} {{ buy_forms['dt2'].numShares() }}
                                                    {{ buy_forms['dt2'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if dt2NumShares > 0 %}
                                        <div class="col-md-1.5">
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt2SellModal">
                                                Sell
                                            </button>
                                            
                                            <!-- The Modal -->
                                            <div class="modal" id="dt2SellModal">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <div class="d-flex flex-column align-items-start">  
                                                            <h4 class="modal-title mb-2">Sell {{dt2}} at ${{dt2LastPrice}}</h4>
                                                            <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                            <h6>
                                                                You Currently own: {{ dt2NumShares }} Shares
                                                            </h6>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                                    </div>
                                            
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                    <form method="POST">
                                                        {{ sell_forms['dt2'].hidden_tag() }}
                                                        {{ sell_forms['dt2'].csrf_token }}  <!-- include csrf token -->
                                                        {{ sell_forms['dt2'].sellTicker() }}
                                                        {{ sell_forms['dt2'].sellNumShares.label }} {{ sell_forms['dt2'].sellNumShares() }}
                                                        {{ sell_forms['dt2'].sellSubmit() }}
                                                    </form>
                                                    </div>
                                            
                                                    <!-- Modal Footer -->
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-1.5"></div>
                                    <div class="col-md-1">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt2UpdateModal">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt2UpdateModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Update Dashboard</h4>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ update_forms['dt2'].hidden_tag() }}
                                                    {{ update_forms['dt2'].tickerToUpdate.label }} {{ update_forms['dt2'].tickerToUpdate() }}
                                                    {{ update_forms['dt2'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                <div id="spinner2" style="display: none;">
                                    <div class="loader"></div>
                                </div>
                                <div id="chart2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h2 style="padding-left: 20px;"><a class="article-title" href="{{url_for('stock', ticker_name=dt3)}}">{{ dt3 }}</a></h2> <!-- Increase left padding -->
                                            <h2 class="{% if dt3Change == 1 %}green{% else %}red{% endif %}" style="margin-left: 10px;">
                                                {{ dt3LastPrice }}<!-- Display the ticker name & Price -->
                                                {% if dt3Change == 1 %} 
                                                    <i class="fas fa-arrow-up" style="color:#2ecc71;"></i> 
                                                {% else %} 
                                                    <i class="fas fa-arrow-down" style="color:#e74c3c;"></i> 
                                                {% endif %}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1.5">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt3BuyModal">
                                            Buy
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt3BuyModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <div class="d-flex flex-column align-items-start">  
                                                        <h4 class="modal-title mb-2">Buy {{dt3}} at ${{dt3LastPrice}}</h4>
                                                        <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                        <h6>
                                                            Maximum Affordability = {{ (current_user.balance // dt3LastPrice)|round|int }} Shares
                                                        </h6>
                                                    </div>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ buy_forms['dt3'].hidden_tag() }}
                                                    {{ buy_forms['dt3'].ticker() }}
                                                    {{ buy_forms['dt3'].numShares.label }} {{ buy_forms['dt3'].numShares() }}
                                                    {{ buy_forms['dt3'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if dt3NumShares > 0 %}
                                        <div class="col-md-1.5">
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt3SellModal">
                                                Sell
                                            </button>
                                            
                                            <!-- The Modal -->
                                            <div class="modal" id="dt3SellModal">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <div class="d-flex flex-column align-items-start">  
                                                            <h4 class="modal-title mb-2">Sell {{dt3}} at ${{dt3LastPrice}}</h4>
                                                            <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                            <h6>
                                                                You Currently own: {{ dt3NumShares }} Shares
                                                            </h6>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                                    </div>
                                            
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                    <form method="POST">
                                                        {{ sell_forms['dt3'].hidden_tag() }}
                                                        {{ sell_forms['dt3'].csrf_token }}  <!-- include csrf token -->
                                                        {{ sell_forms['dt3'].sellTicker() }}
                                                        {{ sell_forms['dt3'].sellNumShares.label }} {{ sell_forms['dt3'].sellNumShares() }}
                                                        {{ sell_forms['dt3'].sellSubmit() }}
                                                    </form>
                                                    </div>
                                            
                                                    <!-- Modal Footer -->
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-1.5"></div>
                                    <div class="col-md-1">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt3UpdateModal">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt3UpdateModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Update Dashboard</h4>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ update_forms['dt3'].hidden_tag() }}
                                                    {{ update_forms['dt3'].tickerToUpdate.label }} {{ update_forms['dt3'].tickerToUpdate() }}
                                                    {{ update_forms['dt3'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="spinner3" style="display: none;">
                                    <div class="loader"></div>
                                </div>
                                <div id="chart3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h2 style="padding-left: 20px;"><a class="article-title" href="{{url_for('stock', ticker_name=dt4)}}">{{ dt4 }}</a></h2> <!-- Increase left padding -->
                                            <h2 class="{% if dt4Change == 1 %}green{% else %}red{% endif %}" style="margin-left: 10px;">
                                                {{ dt4LastPrice }}<!-- Display the ticker name & Price -->
                                                {% if dt4Change == 1 %} 
                                                    <i class="fas fa-arrow-up" style="color:#2ecc71;"></i> 
                                                {% else %} 
                                                    <i class="fas fa-arrow-down" style="color:#e74c3c;"></i> 
                                                {% endif %}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1.5">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt4BuyModal">
                                            Buy
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt4BuyModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <div class="d-flex flex-column align-items-start">  
                                                        <h4 class="modal-title mb-2">Buy {{dt4}} at ${{dt4LastPrice}}</h4>
                                                        <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                        <h6>
                                                            Maximum Affordability = {{ (current_user.balance // dt4LastPrice)|round|int }} Shares
                                                        </h6>
                                                    </div>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ buy_forms['dt4'].hidden_tag() }}
                                                    {{ buy_forms['dt4'].ticker() }}
                                                    {{ buy_forms['dt4'].numShares.label }} {{ buy_forms['dt4'].numShares() }}
                                                    {{ buy_forms['dt4'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if dt4NumShares > 0 %}
                                        <div class="col-md-1.5">
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt4SellModal">
                                                Sell
                                            </button>
                                            
                                            <!-- The Modal -->
                                            <div class="modal" id="dt4SellModal">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <div class="d-flex flex-column align-items-start">  
                                                            <h4 class="modal-title mb-2">Sell {{dt4}} at ${{dt4LastPrice}}</h4>
                                                            <h5>Current Balance = ${{ '{:.2f}'.format(current_user.balance) }}</h5>
                                                            <h6>
                                                                You Currently own: {{ dt4NumShares }} Shares
                                                            </h6>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                                    </div>
                                            
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                    <form method="POST">
                                                        {{ sell_forms['dt4'].hidden_tag() }}
                                                        {{ sell_forms['dt4'].csrf_token }}  <!-- include csrf token -->
                                                        {{ sell_forms['dt4'].sellTicker() }}
                                                        {{ sell_forms['dt4'].sellNumShares.label }} {{ sell_forms['dt4'].sellNumShares() }}
                                                        {{ sell_forms['dt4'].sellSubmit() }}
                                                    </form>
                                                    </div>
                                            
                                                    <!-- Modal Footer -->
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-1.5"></div>
                                    <div class="col-md-1">
                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dt4UpdateModal">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        
                                        <!-- The Modal -->
                                        <div class="modal" id="dt4UpdateModal">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Update Dashboard</h4>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                        
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                <form method="POST">
                                                    {{ update_forms['dt4'].hidden_tag() }}
                                                    {{ update_forms['dt4'].tickerToUpdate.label }} {{ update_forms['dt4'].tickerToUpdate() }}
                                                    {{ update_forms['dt4'].submit() }}
                                                </form>
                                                </div>
                                        
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="spinner4" style="display: none;">
                                    <div class="loader"></div>
                                </div>
                                <div id="chart4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                var dt1 = "{{ dt1 }}";  // Accessing dt1 value passed from server-side
                var dt2 = "{{ dt2 }}";  // Accessing dt1 value passed from server-side
                var dt3 = "{{ dt3 }}";  // Accessing dt1 value passed from server-side
                var dt4 = "{{ dt4 }}";  // Accessing dt1 value passed from server-side
            </script>
            <script src="{{ url_for('static', filename='main.js') }}"></script>
        </form>
    </div>
{% endblock content%}